    <div class="row">
        <div class="col">
            <div class="card text-bg-light">
                <div class="card-body">
                    <h3>Login de usuario</h3>
                    <form autocomplete="off" id="loginForm" method="POST">
                        <div class="form-group">
                            <label for="email" class="form-label">Ingrese su email:</label>
                            <input class="form-control" type="text" id="email" name="email" />
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="passwd" class="form-label">Ingrese su contraseña:</label>
                            <input class="form-control" type="password" id="passwd" name="passwd"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group mt-3">
                            <input class="btn btn-success" id="btnLogin" type="submit" value="Ingresar"/>
                        </div>
                        <hr>
                        <div class="form-group mt-3">
                            <a class="btn btn-success" href="/signup"/>Ir a Registrar</a>
                        </div>
                    </form>                  
                </div>
            </div>
        </div>
    </div>
    <script src="/js/utils.js"></script>
    <script src="/js/login.js"></script>