    <div class="row">
        <div class="col">
            <div class="card text-bg-success">
                <div class="card-body">
                    <h3>Hasta luego {{userName}}</a>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    setTimeout(function(){
        window.location.replace("./login")
    }, 2000);
</script>